.table-view ,.show-hide-columns-button, .tree-table-view, .column-header-background , .filler{

    -fx-background-color: transparent;
    
    -fx-font-family : century-gothic, sans-serif;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 40px;
    
    -fx-background-color: transparent;
    
      -fx-font-family : century-gothic, sans-serif;
      
        text-transform: uppercase;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    
    -fx-border-color:  #EBE7D9;
    
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    
      text-transform: uppercase;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}



.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  transparent;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  transparent;
}


.table-view .column-header-background .label{
     -fx-background-color: transparent; 
	 
	 -fx-text-fill: #EBE7D9;
	 
     -fx-font-family: century-gothic, sans-serif;
    
}

#columnSinger{
	-fx-background-color: transparent; 
	 
	 -fx-text-fill: #EBE7D9;
	 
     
      text-decoration: underline ;
      
       font-size: 30px;
	
}
	


	


